In [ ]:
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
#1. Read Department table (Delimiter '-')
df_dept = pd.read_csv('raw-department.txt', sep='-')
print(df_dept)

   department_id department_name
0              1         General
1              2   Sales Support
2              3              IT

In [ ]:
#2. Read two JSON budget files
df_budget1 = pd.read_json('raw-department-budget.txt', lines=True)
df_budget2 = pd.read_json('raw-department-budget2.txt')

In [ ]:
#3. Combine budget data into a single DataFrame
df_budget_all = pd.concat([df_budget1, df_budget2], ignore_index=True)
print(df_budget_all)

   sub_dep_id           sub_dep_name  department_id  budget
0           1               managers              1    3000
1           2              managers2              1    1500
2           1     sales support john              2    2000
3           2      sales support joe              2    1000
4           3  sales support johnson              2    2500
5           4  sales support eduards              2    2500
6           1           IT purchases              3    2000
7           2         IT maintenance              3    1500
8           3               IT other              3    1000

In [ ]:
#4. Join departments with budgets and calculate total budget per department
result = df_dept.merge(df_budget_all, on='department_id')
result_grouped = result.groupby(['department_id', 'department_name'], as_index=False)['budget'].sum()
print(result_grouped)

   department_id department_name  budget
0              1         General    4500
1              2   Sales Support    8000
2              3              IT    4500

In [ ]:
#5. Connect to Postgres
engine = create_engine('postgresql://postgres.jmrusdycrbwqztcqyzjv:Kas$320850928@aws-0-eu-north-1.pooler.supabase.com:6543/postgres')

In [ ]:
# Load the result into stg schema
result_grouped.to_sql('department_budget', engine, schema='stg', if_exists='replace', index=False)

3

In [ ]:
# Read table from stg schema
query = """
SELECT table_schema, table_name
FROM information_schema.tables
WHERE table_schema = 'stg';
"""

tables_df = pd.read_sql(query, engine)
print(tables_df)

   table_schema         table_name
0           stg             artist
1           stg           customer
2           stg           employee
3           stg              genre
4           stg            invoice
5           stg        invoiceline
6           stg          mediatype
7           stg           playlist
8           stg      playlisttrack
9           stg              track
10          stg              album
11          stg  department_budget

In [ ]:
df_dep_budget = pd.read_sql("SELECT * FROM stg.department_budget", engine)
print(df_dep_budget)

   department_id department_name  budget
0              1         General    4500
1              2   Sales Support    8000
2              3              IT    4500

In [ ]:
# API
import requests

In [ ]:
# Load invoice table into pandas
invoices_df = pd.read_sql("SELECT invoicedate FROM stg.invoice;", engine)
invoices_df['invoicedate'] = pd.to_datetime(invoices_df['invoicedate'])

In [ ]:
# Get min and max dates in Python
start_date = invoices_df['invoicedate'].min().date()
end_date = invoices_df['invoicedate'].max().date()

print(f"Fetching USD→ILS rates from {start_date} to {end_date}")

Fetching USD→ILS rates from 2018-01-01 to 2022-12-22

In [ ]:
# Fetch rates from Frankfurter API
url = f"https://api.frankfurter.app/{start_date}..{end_date}?from=USD&to=ILS"
response = requests.get(url).json()

rates = response.get('rates', {})
if not rates:
    raise ValueError("No rates returned from API.")

In [ ]:
# Create DataFrame from API response
conversion_data = [{'date': d, 'usd_to_ils': v['ILS']} for d, v in rates.items()]
conversion_df = pd.DataFrame(conversion_data)
conversion_df['date'] = pd.to_datetime(conversion_df['date'])

In [ ]:
# Save to Postgres
conversion_df.to_sql(
    'usd_ils_rates',
    engine,
    schema='stg',
    if_exists='replace',
    index=False
)

261

In [ ]:
#  Preview
check_df = pd.read_sql("SELECT * FROM stg.usd_ils_rates ORDER BY date LIMIT 10;", engine)
print(check_df)

        date  usd_to_ils
0 2017-12-25      3.4716
1 2018-01-01      3.4494
2 2018-01-08      3.4278
3 2018-01-15      3.4225
4 2018-01-22      3.4081
5 2018-01-29      3.4141
6 2018-02-05      3.4878
7 2018-02-12      3.5332
8 2018-02-19      3.5016
9 2018-02-26      3.4780